.notice_select{margin:15px;}
.notice_select input{margin-right:20px;}
.notice_select a{margin-right:20px; margin-left:20px;font-size:18px;line-height: 35px;}
.notice_mes{margin:15px; color:red;font-size:16px;text-align:center;}
#dialog-email p{ color:#333333; font-size:16px; line-height:28px; font-weight:bold;}
